{% include 'header.html' %}

<a href="/">Run</a>
<form action="/create" method="post" target="run_frame">
  <table>
<tr><td>As name:</td><td><input name="as_name" /></td></tr>
 <tr><td>Image:</td><td><select name="img">
    {% for cfg in imgs %}
    {% if cfg==cfgyaml.get('validation_data').get('input_name') %}
    {% else %}
     <option value="{{cfg}}">{{cfg}}</option>
     {% endif %}
    {% endfor %}
</select></td></tr>
 <tr><td>Prompts:</td><td>
     <textarea name="prompts" cols="90" rows="10" placeholder="prompts by lines">
     {{cfgyaml.get("prompts")}}
     </textarea>
</td></tr>
 <tr><td>N Prompts:</td><td>
     <textarea name="n_prompt" cols="90" rows="10"
              placeholder="negative prompt by lines">
    {{cfgyaml.get("n_prompt")}}
    </textarea></td></tr>
<tr><td>Mask SIM RANGE</td>
    <td><input name="mask_sim_range" placeholder="numbers by spaces"
    value="{{cfgyaml.get('mask_sim_range')}}" />
</td></tr>
  </table>



    <input type="submit" value="Create" />
</form>

<iframe name="run_frame" width="90%" height="300">

</iframe>

{% include 'foot.html' %}
