<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>MF</title>
  <style type="text/css">
    .frame {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    table {
    width:99%; min-width:900px;
    height:99%; min-height: 800px;
    }
  </style>

</head>
<a href="/mf">MF</a><br/>
<table><tr>
  <td><iframe src="/" class="frame left"></iframe></td>
  <td><iframe src="/" class="frame left"></iframe></td>

</tr>
  <tr><td colspan="2">
    <iframe class="frame" src="http://{{host}}:8000/">

    </iframe></td>
  </tr>
</table>
</body>
</html>